# Wildcards
*                   # Ignore everything
!*/                 # Descend into directories
!*.yaml             # Don't ignore yaml files
!*.gif
!*.png
!*.jpg
!*.md

# Directory (contents) ignores
.cloud
.storage
deps
lib
icloud
tts
lovelace-dev

# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.tradfri_psk.conf
.uuid
core
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zwcfg_*
zwscene.xml
zwave_device_config.yaml
ui-lovelace-dev.yaml

# ESPHome ignores
esphome/secrets.yaml
esphome/**/
esphomeyaml/*/

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep
.vscode/settings.json
