- id: f22881d0-2a37-46f6-86fa-0feaac19de59
  alias: '[Covers] Open in the morning in Master Bedroom'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: state
      entity_id: group.household
      state: 'home'
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: 'on'
  trigger:
    - platform: time
      at: "08:30:00"
  action:
    - service: cover.open_cover
      data:
        entity_id: cover.master_bedroom_roller_shutter_level

- id: 2c0fabaa-793e-4d83-a6f6-488b799384e7
  alias: '[Covers] Open in the morning in Lucas Room'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: state
      entity_id: group.household
      state: 'home'
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: 'on'
  trigger:
    - platform: time
      at: "09:00:00"
  action:
    - service: cover.open_cover
      data:
        entity_id: cover.lucas_room_roller_shutter_level

- id: 9168307a-6555-489d-b686-643216ff76e9
  alias: '[Covers] Open in the morning during the weekends and holidays'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: state
      entity_id: group.household
      state: 'home'
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: 'off'
  trigger:
    - platform: time
      at: "11:00:00"
  action:
    - service: cover.open_cover
      data:
        entity_id:
          - cover.master_bedroom_roller_shutter_level
          - cover.lucas_room_roller_shutter_level

- id: 58a2e68e-7adf-4d08-93d1-a4dd43faeb12
  alias: '[Covers] Close in the evening'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: state
      entity_id: group.household
      state: 'home'
  trigger:
    - platform: sun
      event: sunset
  action:
    - service: cover.set_cover_position
      data:
        entity_id:
          - cover.master_bedroom_roller_shutter_level
          - cover.lucas_room_roller_shutter_level
        position: 10

- id: 36999f33-8fcb-423e-972d-425b4efca279
  alias: '[Covers] Close with strong winds'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: state
      entity_id: sun.sun
      state: below_horizon
  trigger:
    - platform: numeric_state
      entity_id: sensor.br_wind_force
      above: 4
  action:
    - service: cover.close_cover
      data:
        entity_id:
          - cover.master_bedroom_roller_shutter_level
          - cover.lucas_room_roller_shutter_level

- id: d3a773bf-fc19-4f77-8ad7-00097a2a8bfa
  alias: '[Covers] Open when arriving 1'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: numeric_state
      entity_id: sensor.br_temperature
      below: 25
    - condition: state
      entity_id: sun.sun
      state: above_horizon # at daytime
    - condition: template
      value_template: "{%- if states.automation.covers_close_when_leaving.attributes.last_triggered\
        \ -%}\n  {{ (as_timestamp(now()) - as_timestamp(states.automation.covers_close_when_leaving.attributes.last_triggered))\
        \ > 240 }}\n{%- else -%}\n  true\n{%- endif -%}\n"
  trigger:
    - platform: state
      entity_id: group.household
      from: 'not_home'
      to: 'home'
  action:
    - service: cover.open_cover
      data:
        entity_id:
          - cover.master_bedroom_roller_shutter_level
          - cover.lucas_room_roller_shutter_level

- id: 9c7f65fd-fc67-47e1-a81d-e02afcacdc3e
  alias: '[Covers] Open when arriving 2'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: numeric_state
      entity_id: sensor.br_temperature
      below: 25
    - condition: state
      entity_id: sun.sun
      state: below_horizon
    - condition: template
      value_template: "{%- if states.automation.covers_close_when_leaving.attributes.last_triggered\
        \ -%}\n  {{ (as_timestamp(now()) - as_timestamp(states.automation.covers_close_when_leaving.attributes.last_triggered))\
        \ > 240 }}\n{%- else -%}\n  true\n{%- endif -%}\n"
  trigger:
    - platform: state
      entity_id: group.household
      from: 'not_home'
      to: 'home'
  action:
    - service: cover.set_cover_position
      data:
        entity_id:
          - cover.master_bedroom_roller_shutter_level
          - cover.lucas_room_roller_shutter_level
        position: 10

- id: 153b5394-3dde-4ebd-8e3f-4d2bb43e8529
  alias: '[Covers] Close when leaving'
  initial_state: 'true'
  condition:
    - condition: state
      entity_id: input_boolean.guest_mode
      state: 'off'
    - condition: template
      value_template: "{%- if states.automation.covers_open_when_arriving_1.attributes.last_triggered\
        \ -%}\n  {{ (as_timestamp(now()) - as_timestamp(states.automation.covers_open_when_arriving_1.attributes.last_triggered))\
        \ > 240 }}\n{%- else -%}\n  true\n{%- endif -%}\n"
    - condition: template
      value_template: "{%- if states.automation.covers_open_when_arriving_2.attributes.last_triggered\
        \ -%}\n  {{ (as_timestamp(now()) - as_timestamp(states.automation.covers_open_when_arriving_2.attributes.last_triggered))\
        \ > 240 }}\n{%- else -%}\n  true\n{%- endif -%}\n"
  trigger:
    - platform: state
      entity_id: group.household
      from: 'home'
      to: 'not_home'
    - platform: numeric_state
      entity_id: sensor.br_temperature
      above: 25
  action:
    - service: cover.close_cover
      data:
        entity_id:
          - cover.master_bedroom_roller_shutter_level
          - cover.lucas_room_roller_shutter_level

- id: c209375b-d473-4d56-8f02-41c3146eae35
  alias: '[Covers] Open when smoke or CO detected'
  initial_state: 'true'
  condition:
  trigger:
    - platform: state
      entity_id: sensor.entryway_nest_protect_smoke_status
      from: 'ok'
    - platform: state
      entity_id: sensor.entryway_nest_protect_co_status
      from: 'ok'
    - platform: state
      entity_id: sensor.hallway_nest_protect_smoke_status
      from: 'ok'
    - platform: state
      entity_id: sensor.hallway_nest_protect_co_status
      from: 'ok'
    - platform: state
      entity_id: sensor.attic_nest_protect_smoke_status
      from: 'ok'
    - platform: state
      entity_id: sensor.attic_nest_protect_co_status
      from: 'ok'
  action:
    - service: cover.open_cover
      data:
        entity_id:
          - cover.master_bedroom_roller_shutter_level
          - cover.lucas_room_roller_shutter_level

- id: 2ae00756-b4a9-4068-acc8-c574a8a60fd4
  alias: '[Ring]  Motion in backyard'
  initial_state: 'true'
  trigger:
    - platform: state
      entity_id: binary_sensor.ring_backyard_motion
      to: 'on'
  condition:
    condition: or
    conditions:
      - condition: state
        entity_id: alarm_control_panel.Konnected_Alarm
        state: armed_away
      - condition: state
        entity_id: alarm_control_panel.Konnected_Alarm
        state: armed_home
  action:
    - service: notify.alexa_media
      data:
        data:
          type: tts
        target:
          - group.alexa
        message: "Motion in the backyard"
    - service: notify.all_devices
      data:
        title: Ring
        message: There is motion at your backyard
        data:
          actions:
            - action: open
              icon: "/local/icons/konnected.png"
              title: Open Home Assistant
          tag: ring_alert
          ttl: 86400
          priority: high      

- id: 6afbd950-7db2-44df-8eb4-d6c46d57f7af
  alias: '[Ring] Low Battery Notification'
  initial_state: 'on'
  trigger:
    - platform: numeric_state
      entity_id:
        - sensor.ring_front_door_battery
        - sensor.ring_backyard_battery
      below: 15
    - platform: numeric_state
      entity_id:
        - sensor.ring_front_door_battery
        - sensor.ring_backyard_battery
      below: 10
  action:
    - service: persistent_notification.create
      data_template:
        message: "{{ trigger.entity_id.name }} reported low battery, please charge."
        title: Ring Battery Low
    - service: notify.mobile_app_sm_g960f
      data_template:
        message: "{{ trigger.entity_id.name }} reported low battery, please charge."
        title: Ring Battery Low
